@media screen and (max-width: 415px) {
    .popup-content {
        display: none;
    }
    .btn {
        display: none;
    }
    .flip {
        display: block;
    }
    .game__popup {
        width: 70%;
    }
}

@media screen and (max-width: 376px) {
    .game__popup {
        width: 70%;
    }
}

@media screen and (max-width: 321px) {
    .game__popup {
        height: 400px;
        width: 70%;
    }
}

//----------------

@media screen and (max-width: 736px) {
    h1 {
        margin: 10px !important;
    }
    h2 {
        font-size: 18px !important;
    }
    .game {
        &__window {
            height: 300px;
        }
        &__popup, &__menu {
            height: 330px;
            width: 70%;
            font-size: 16px;
        }
        &__ball {
            animation-duration: 1.5s !important;
        }
    }
    .btn , .btn-quantity {
        font-size: 16px !important;
        padding: 2px 5px !important;
    }
    .counter {
        left: 5px;
        right: unset;
        height: 60px !important;
    }
}

@media screen and (max-height: 376px) {
    h1 {
        margin: 10px !important;
    }
    h2 {
        font-size: 18px !important;
    }
    .game {
        &__window {
            height: 300px;
        }
        &__popup, &__menu {
            height: 330px;
            width: 70%;
            font-size: 16px;
        }
        &__ball {
            animation-duration: 1.5s !important;
        }
    }
    .btn , .btn-quantity {
        font-size: 16px !important;
        padding: 2px 5px !important;
    }
    .counter {
        left: 5px;
        right: unset;
        height: 60px !important;
    }
}

@media screen and (max-height: 321px) {
    .game__window {
        height: 290px;
    }   
    .game__popup, .game__menu {
        height: 290px;
        width: 70%;
        font-size: 16px;
    }
}