//-----------------------------start one-----------------------------
.start-decor_one{
    width: 200px;
    height: 350px;
    background: rgb(221, 219, 219);
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: black solid 1px;
    bottom: -5px;

    animation-name: start-one-animate;
    animation-duration: 25s;
    animation-fill-mode: forwards;
}

@keyframes start-one-animate{
    0%{
        left: 5%;
    }
    100%{
        left: 130%;
    }
}
//-----------------------------start two-----------------------------
.start-decor_two{
    width: 400px;
    height: 300px;
    background: rgb(173, 172, 172);
    position: absolute;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: black solid 1px;
    bottom: -5px;

    animation-name: start-two-animate;
    animation-duration: 20s;
    animation-fill-mode: forwards;
}

@keyframes start-two-animate{
    0%{
        left: 40%;
    }
    100%{
        left: 130%;
    }
}
//-----------------------------start three-----------------------------
.start-decor_three{
    width: 100px;
    height: 480px;
    background: rgb(241, 240, 240);
    position: absolute;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: black solid 1px;
    bottom: -5px;

    animation-name: start-three-animate;
    animation-duration: 25s;
    animation-fill-mode: forwards;
}

@keyframes start-three-animate{
    0%{
        left: 30%;
    }
    100%{
        left: 130%;
    }
}
//-----------------------------one-----------------------------
.decor_one{
    width: 100px;
    height: 450px;
    background: rgb(204, 203, 203);
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: black solid 1px;
    bottom: -5px;

    animation-name: one-animate;
    animation-duration: 20s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes one-animate{
    0%{
        left: -20%;
    }
    100%{
        left: 130%;
    }
}
//-----------------------------two-----------------------------
.decor_two{
    width: 70px;
    height: 490px;
    background: rgb(180, 178, 178);
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: black solid 1px;
    bottom: -5px;

    animation-name: two-animate;
    animation-duration: 23s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes two-animate{
    0%{
        left: -30%;
    }
    100%{
        left: 130%;
    }
}
//-----------------------------three-----------------------------
.decor_three{
    width: 500px;
    height: 350px;
    background: rgb(207, 206, 206);
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: black solid 1px;
    bottom: -5px;

    animation-name: three-animate;
    animation-duration: 18s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes three-animate{
    0%{
        left: -50%;
    }
    100%{
        left: 130%;
    }
}
//-----------------------------four-----------------------------
.decor_four{
    width: 200px;
    height: 495px;
    background: rgb(201, 199, 199);
    position: absolute;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: black solid 1px;
    bottom: -5px;

    animation-name: four-animate;
    animation-duration: 19s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes four-animate{
    0%{
        left: -50%;
    }
    100%{
        left: 130%;
    }
}
//-----------------------------five-----------------------------
.decor_five{
    width: 150px;
    height: 425px;
    background: rgb(241, 240, 240);
    position: absolute;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border: black solid 1px;
    bottom: -5px;

    animation-name: five-animate;
    animation-duration: 20s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes five-animate{
    0%{
        left: -65%;
    }
    100%{
        left: 130%;
    }
}
//-----------------------------six-----------------------------
.decor_six{
    width: 150px;
    height: 470px;
    background: rgb(211, 209, 209);
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: black solid 1px;
    bottom: -5px;

    animation-name: six-animate;
    animation-duration: 21s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes six-animate{
    0%{
        left: -80%;
    }
    100%{
        left: 130%;
    }
}
//-----------------------------seven-----------------------------
.decor_seven{
    width: 400px;
    height: 200px;
    background: rgb(243, 241, 241);
    position: absolute;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: black solid 1px;
    bottom: -5px;

    animation-name: seven-animate;
    animation-duration: 30s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes seven-animate{
    0%{
        left: -150%;
    }
    100%{
        left: 130%;
    }
}
//-----------------------------eight-----------------------------
.decor_eight{
    width: 250px;
    height: 470px;
    background: rgb(246, 245, 245);
    position: absolute;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border: black solid 1px;
    bottom: -5px;

    animation-name: eight-animate;
    animation-duration: 23s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes eight-animate{
    0%{
        left: -100%;
    }
    100%{
        left: 130%;
    }
}
//-----------------------------nine-----------------------------
.decor_nine{
    width: 120px;
    height: 440px;
    background: rgb(209, 208, 208);
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: black solid 1px;
    bottom: -5px;

    animation-name: nine-animate;
    animation-duration: 24s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes nine-animate{
    0%{
        left: -110%;
    }
    100%{
        left: 130%;
    }
}
//-----------------------------ten-----------------------------
.decor_ten{
    width: 500px;
    height: 380px;
    background: rgb(201, 199, 199);
    position: absolute;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: black solid 1px;
    bottom: -5px;

    animation-name: ten-animate;
    animation-duration: 25s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes ten-animate{
    0%{
        left: -190%;
    }
    100%{
        left: 130%;
    }
}